@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.msg {
    margin: 2px auto;
    padding: 6px;
    border-radius: 5px;
    color: #3c763d;
    background: #9bd185;
    border: 1px solid #3c763d;
    width: 92%;
    text-align: center;
}
.sidebar{
  position: fixed;
  width: 19%;
  height: 100%;
  background: #1f2023;
  transition: left 0.4s ease;
}

.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1f2023;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: #1778be;
  background: #1e1e1e;
  border-left-color: #1778be;
}
nav ul li a:hover{
  background: #1e1e1e;
}
nav ul ul{
  position: static;
  display: none;
}

nav ul .serv-show1.show1{
  display: block;
}
nav ul .serv-show2.show1{
  display: block;
}
nav ul .serv-show3.show1{
  display: block;
}
nav ul .serv-show4.show1{
  display: block;
}
nav ul .serv-show5.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: white;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: #1778be!important;
  background: #1e1e1e!important;
}
nav ul li a span{
 
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
span{
  padding: 0;
}
.content1{
  width: 475px;
    height:98%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
  display: none;
   background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    
    background:  linear-gradient(rgba(31, 32, 35, 1), rgba(23, 120, 190, 1));
    border-radius: 4%;
}
.content1.show1{
  display: block;
}
.label label i {
  position: relative;
  bottom: 4px;
}
.content1 .login {
    height: 100%;
   
}
.content1 .login h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-bottom: : 5px;
}
.content1 .login form {
    height: 60%;
    text-align: center;
    padding-top: 0px;
}
.content1 .login form label {
  display: flex;
  justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3274d6;
    color: #ffffff;
}
.fa, .fas {
    font-weight: 900;
    padding-top: 20%;
    
}
.content1 .login form input[type="password"], .login form input[type="text"], .login form input[type="date"] {
    width: 100%;
    height: 100%;
    border: 1px solid #dee0e4;
    padding: 3px;
    
}
.content1 .grid{
  display: grid;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    grid-row-gap: 4%;
}
.content1 .login form input[type="submit"] {
    
    width: 40%;
    height: 6%;
    padding: 15px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 30px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.content1 .login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.content1 .logo {
  padding-top: 7px;
  text-align: center;
}


.content2{
  width: 400px;
    height:90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
  display: none;
   background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    
    background:  linear-gradient(rgba(31, 32, 35, 1), rgba(23, 120, 190, 1));
    border-radius: 4%;
}
.content2.show2{
  display: block;
}

.content2 .login {
    height: 100%;
   
}
.content2 .login h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 0px 0 5px 0;
}
.content2 .login form {
    height: 60%;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content2 .login form label {
  display: flex;
  justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3274d6;
    color: #ffffff;
}

.content2 .login form input[type="text"] {
    width: 100%;
    height: 100%;
    border: 1px solid #dee0e4;
    padding: 3px;
    
}
.content2 .grid{
  display: grid;
    width: 80%;
    height: 35%;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    grid-row-gap: 10%;
}
.content2 .login form input[type="submit"] {
    
    width: 70%;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 6%;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 30px;
    position: absolute;
    bottom:-2%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.content2 .login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}
.content2 .radio_btn{
color: white;
text-align: : left;
padding: 2%;
}

.content2 .logo {
  padding-top: 20px;
  text-align: center;
}

.content9{
  width: 400px;
    height:90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
  display: none;
   background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    
    background:  linear-gradient(rgba(31, 32, 35, 1), rgba(23, 120, 190, 1));
    border-radius: 4%;
}
.content9.show2{
  display: block;
}

.content9 .login {
    height: 100%;
   
}
.content9 .login h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 0px 0 5px 0;
}
.content9 .login form {
    height: 60%;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content9 .login form label {
  display: flex;
  justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3274d6;
    color: #ffffff;
}

.content9 .login form input[type="text"] {
    width: 100%;
    height: 100%;
    border: 1px solid #dee0e4;
    padding: 3px;
    
}
.content9 .grid{
  display: grid;
    width: 80%;
    height: 35%;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    grid-row-gap: 10%;
}
.content9 .login form input[type="submit"] {
    
    width: 70%;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 6%;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 30px;
    position: absolute;
    bottom:-2%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.content9 .login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}
.content9 .radio_btn{
color: white;
text-align: : left;
padding: 2%;
}

.content9 .logo {
  padding-top: 20px;
  text-align: center;
}

.content11{
  width: 400px;
    height:90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
  display: none;
   background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    
    background:  linear-gradient(rgba(31, 32, 35, 1), rgba(23, 120, 190, 1));
    border-radius: 4%;
}
.content11.show2{
  display: block;
}

.content11 .login {
    height: 100%;
   
}
.content11 .login h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 0px 0 5px 0;
}
.content11 .login form {
    height: 60%;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content11 .login form label {
  display: flex;
  justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3274d6;
    color: #ffffff;
}

.content11 .login form input[type="text"] {
    width: 100%;
    height: 100%;
    border: 1px solid #dee0e4;
    padding: 3px;
    
}
.content11 .grid{
  display: grid;
    width: 80%;
    height: 35%;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    grid-row-gap: 10%;
}
.content11 .login form input[type="submit"] {
    
    width: 70%;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 6%;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 30px;
    position: absolute;
    bottom:-2%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.content11 .login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}
.content11 .radio_btn{
color: white;
text-align: : left;
padding: 2%;
}

.content11 .logo {
  padding-top: 20px;
  text-align: center;
}
.content3{
  width: 400px;
    height:90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
  display: none;
   background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    
    background:  linear-gradient(rgba(31, 32, 35, 1), rgba(23, 120, 190, 1));
    border-radius: 4%;
}


.content3.show2{
  display: block;
}

.content3 .login {
    height: 100%;
   
}
.content3 .login h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 0px 0 5px 0;
}
.content3 .login form {
    height: 60%;
    text-align: center;
    padding-top: 20px;
}
.content3 .login form label {
  display: flex;
  justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3274d6;
    color: #ffffff;
}

.content3 .login form input[type="password"], .login form input[type="text"], .login form input[type="date"] {
    width: 100%;
    height: 100%;
    border: 1px solid #dee0e4;
    padding: 3px;
    
}

.content3 .grid{
  display: grid;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    grid-row-gap: 8%;
}
.content3 .login form input[type="submit"] {
    
    width: 70%;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 6%;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 30px;
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.content3 .login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.content3 .logo {
  padding-top: 20px;
  text-align: center;
}

.content4{
  width: 400px;
  height:90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  background:  linear-gradient(rgba(31, 32, 35, 1), rgba(23, 120, 190, 1));
  border-radius: 4%;
}
.content4.show2{
  display: block;
}

.content4 .login {
    height: 100%;
   
}
.content4 .login h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 0px 0 5px 0;
}
.content4 .login form {
    height: 60%;
    text-align: center;
    padding-top: 20px;
}
.content4 .login form label {
  display: flex;
  justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3274d6;
    color: #ffffff;
}

.content4 .login form input[type="password"], .login form input[type="text"], .login form input[type="date"] {
    width: 100%;
    height: 100%;
    border: 1px solid #dee0e4;
    padding: 3px;
    
}

.content4 .grid{
  display: grid;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    grid-row-gap: 8%;
}
.content4 .login form input[type="submit"] {
    
    width: 70%;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 6%;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 30px;
    position: absolute;
    bottom:0%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.content4 .login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.content4 .logo {
  padding-top: 20px;
  text-align: center;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.content5{
  width: 55%;
  height:90%;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%,-50%);
  color: #202020;
  text-align: center;
  display: none;
}
.content5.show2{
  display: block;
}
.content6{
  width: 55%;
  height:90%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%);
  color: #202020;
  text-align: center;
  display: none;
}
.content6.show2{
  display: block;
}
.content7{
  width: 55%;
  height:90%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%);
  color: #202020;
  text-align: center;
  display: none;
}
.content7.show2{
  display: block;
}
.content8{
  width: 55%;
  height:90%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%);
  color: #202020;
  text-align: center;
  display: none;
}
.content8.show2{
  display: block;
}
.content10{
  width: 55%;
  height:90%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%);
  color: #202020;
  text-align: center;
  display: none;
}
.content10.show2{
  display: block;
}
.content12{
  width: 55%;
  height:90%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%);
  color: #202020;
  text-align: center;
  display: none;
}
.content12.show2{
  display: block;
}
table{
    margin: 0px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 4px;
}
tr:hover {
    background: #F5F5F5;
}
/*responsive*/
@media screen and (max-width: 700px) {
  
  .sidebar{
  width: 26%;
}
 .login form input[type="submit"] {
    bottom: 2%;
}
nav ul li a{
  padding-left: 5px;
}

}
.content111{
  width: 475px;
    height:98%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
  display: none;
   background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    
    background:  linear-gradient(rgba(31, 32, 35, 1), rgba(23, 120, 190, 1));
    border-radius: 4%;
}
.content111.show1{
  display: block;
}
.content111 .login {
    height: 100%;
   
}
.content111 .login h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-bottom: : 5px;
}
.content111 .login form {
    height: 60%;
    text-align: center;
    padding-top: 0px;
}
.content111 .login form label {
  display: flex;
  justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3274d6;
    color: #ffffff;
}
.content111 .login form input[type="password"], .login form input[type="text"], .login form input[type="date"] {
    width: 100%;
    height: 100%;
    border: 1px solid #dee0e4;
    padding: 3px;
    
}
.content111 .grid{
  display: grid;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    grid-row-gap: 3%;
}
.content111 .login form input[type="submit"] {
    
    width: 40%;
    height: 6%;
    padding: 15px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 30px;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.content111 .login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.content111 .logo {
  padding-top: 7px;
  text-align: center;
}