@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  position: absolute;
    bottom: 0px;
    margin: 5px;
    color: #2a2acc;
}
.content2{
  width: 400px;
    height:90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
 display: block;
   background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    
    background:  linear-gradient(rgba(31, 32, 35, 1), rgba(23, 120, 190, 1));
    border-radius: 4%;
}


.content2 .login {
    height: 100%;
   
}
.content2 .login h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 0px 0 5px 0;
}
.content2 .login form {
    height: 60%;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content2 .login form label {
  display: flex;
  justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3274d6;
    color: #ffffff;
}

.content2 .login form input[type="text"] {
    width: 100%;
    height: 100%;
    border: 1px solid #dee0e4;
    padding: 3px;
    
}
.content2 .grid{
  display: grid;
    width: 80%;
    height: 35%;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    grid-row-gap: 10%;
}
.content2 .login form input[type="submit"] {
    
    width: 70%;
    padding: 15px;
    margin-top: 5%;
    margin-bottom: 6%;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 30px;
    position: absolute;
    bottom:-2%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.content2 .login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

.content2 .logo {
  padding-top: 20px;
  text-align: center;
}
.msg {
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    color: #3c763d;
    background: #9bd185;
    border: 1px solid #3c763d;
    width: 92%;
    text-align: center;
}