* {
  	box-sizing: border-box;
  	font-size: 16px;
    font-family: sans-serif;
  	
}
body {
    background-image:  linear-gradient(rgba(31, 32, 35, 0.6), rgba(23, 120, 190, 0.6)),url("../images/img10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    
}
.login {
  	width: 400px;
    height:80%;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:  linear-gradient(rgba(31, 32, 35, 1), rgba(23, 120, 190, 1));
    border-radius: 4%;
}
.login h1 {
  	text-align: center;
  	color: #fff;
  	font-size: 24px;
  	padding: 0px 0 5px 0;
}
.login form {
  	height: 60%;
    text-align: center;
  	padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  	align-items: center;
  	width: 100%;
  	height: 100%;
  	background-color: #3274d6;
  	color: #ffffff;
}
.fa, .fas {
    font-weight: 900;
    padding-top: 20%;
    
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 100%;
  	height: 100%;
    /*margin-bottom: 20px;
    padding: 0 15px;*/
  	border: 1px solid #dee0e4;
  	
}
.grid{
  display: grid;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    grid-template-columns: 15% 85%;
    grid-template-rows: 25% 25%;
    grid-row-gap: 16%;
}
.login form input[type="submit"] {
  	
    width: 70%;
    padding: 15px;
    margin-top: 25%;
    margin-bottom: 6%;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 30px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}
.rem {
  margin-top: -6%;
    color: #ffffff;
}
.login form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}

.logo {
  padding-top: 20px;
  text-align: center;
}
#error{
    color: #f00;
    text-align: center;
    /*border: 1.5px solid;*/
    padding: 5px;
    margin: auto;
    font-weight: bold;
    width: 80%;
}

/*responsive*/
@media screen and (max-width: 450px) {
  
    .login {
    width: 95%;
  }
}